﻿@model _03.Materi.University.ViewModel.AgamaViewModel

<div class="modal-body">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_agama_pk)

        <div class="form-group">
            @Html.LabelFor(model => model.kode_agama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kode_agama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kode_agama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.deskripsi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.deskripsi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.deskripsi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.is_active)
                @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <input type="button" value="Save" title="Save" class="btn btn-primary" id="btn_edit_save" />
    <input type="button" value="Cancel" title="Cancel" class="btn btn-default" id="btn_edit_cancel" data-dismiss="modal" />
</div>

<script>
    $("#btn_edit_save").click(function () {
        var item = {
            id_agama_pk: $("#id_agama_pk").val(),
            kode_agama: $("#kode_agama").val().toUpperCase(),
            deskripsi: $("#deskripsi").val(),
            is_active: $("#is_active").is(":checked")
        };

        $.ajax({
            url: '@Url.Action("Edit", "Agama")',
            type: 'post',
            data: { paramModel: item },
            success: function (result) {
                if (result.success) {
                    $("#modal-edit-form").modal("hide");
                    ShowList();
                }
                else {
                    alert(result.message);
                }
            }
        });
    });
</script>

