﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">

            <button typeof="button" id="btn-add-categories" class="btn btn-success" title="Create New">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Tambah Data
            </button>

        </div>
        <div class="panel-body">

            <div id="table-list">
                <div class="progress progress-striped active" style="margin-bottom:0">
                    <div class="progress-bar" style="width:100%" />
                </div>
            </div>

        </div>
    </div>
</div>


<div id="modal-edit-form" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>

            <div class="div-bind-content">
                @*<div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>*@

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var progHtml = '<div class="progress progress-striped active" style="margin-bottom:0"><div class="progress-bar" style="width:100%"/></div>';

        $(document).ready(function () {
            ShowList();
        });

        function ShowList() {
            $("#table-list").html(progHtml);

            $.ajax({
                url: '@Url.Action("List","Agama")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                }
            });
        }

        $("#btn-add-categories").click(function () {
            /* Configurations Modal */
            $("#modal-edit-form").modal("show");
            $(".modal-title").html("Edit Form Agama");
            $(".div-bind-content").html(progHtml);

            /* Show body modal */
            $.ajax({
                url: '@Url.Action("Create","Agama")',
                type: 'get',
                success: function (result) {
                    $(".div-bind-content").html(result);
                }
            })
        });

        $(".btn_edit_grid").click(function () {
            //alert('Id nya adalah :' + $(this).attr("data-id"));
            $("#modal-edit-form").modal("show");
            $(".modal-title").html("Edit Form Agama");
            $(".modal-body").html(progHtml);

            $.ajax({
                url: '@Url.Action("Edit", "Categories")',
                type: 'get',
                data: { id: $(this).attr("data-id") },
                success: function (result) {
                    $("#modal-body").html(result);
                }
            });
    });

    $(".btn_delete_grid").click(function () {
        //alert('Id nya adalah :' + $(this).attr("data-id"));
        $("#modal-title").html("Are you sure you want to delete this Categories?");
        $("#modal-body").html(progHtml);
        $("#modal-form").modal("show");

        $.ajax({
            url: '@Url.Action("Delete", "Categories")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $("#modal-body").html(result);
            }
        });
    });

    </script>
}