﻿@model IEnumerable<_03.Materi.University.ViewModel.AgamaViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kode_agama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deskripsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_date)
        </th>
        <th>
            Action
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.kode_agama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deskripsi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_by)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updated_by)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updated_date)
                </td>
                <td>
                    <button title="Edit" class="btn_grid_edit btn btn-warning" data-id="@item.id_agama_pk">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button title="Delete" class="btn_grid_details btn btn-info" data-id="@item.id_agama_pk">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    }

</table>


<script type="text/javascript">

    $(".btn_grid_edit").click(function () {
        //alert('Id nya adalah :' + $(this).attr("data-id"));
        $("#modal-edit-form").modal("show");
        $(".modal-title").html("Edit Form Agama");
        $(".div-bind-content").html(progHtml);

        $.ajax({
            url: '@Url.Action("Edit", "Agama")',
            type: 'get',
            data: { paramId: $(this).attr("data-id") },
            success: function (result) {
                $(".div-bind-content").html(result);
            }
        });
    });

    $(".btn_grid_details").click(function () {
        //alert('Id nya adalah :' + $(this).attr("data-id"));
        $("#modal-edit-form").modal("show");
        $(".modal-title").html("Detail Agama");
        $(".div-bind-content").html(progHtml);

        $.ajax({
            url: '@Url.Action("Details", "Agama")',
            type: 'get',
            data: { paramId: $(this).attr("data-id") },
            success: function (result) {
                $(".div-bind-content").html(result);
            }
        });
    });

</script>